@page
@model NewAssignment2019.Areas.Admin.Pages.ProjectFeatures.IndexModel

@{
    ViewData["Title"] = "Project Feature List";
}

<div style="display:inline-flex">
    <h1>@ViewData["Title"]</h1>
    &nbsp;
    <div style="text-align:center"><a asp-page="Create"><i class="fa fa-plus-square"></i></a></div>
</div>


@*<ejs-grid id="DataGrid" dataSource="@Model.ProjectFeature.ToList()">
        <e-grid-columns>
            <e-grid-column field="Code"></e-grid-column>
            <e-grid-column field="Description"></e-grid-column>
            <e-grid-column field="ParentCode"></e-grid-column>
            <e-grid-column field="IsLeaf"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>*@



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFeature[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFeature[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFeature[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFeature[0].ParentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFeature[0].IsLeaf)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectFeature)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLeaf)
                <td style="display:inline-flex">
                    <a asp-page="./Edit" asp-route-id="@item.Id">U </a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">R </a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">D </a>
                </td>
            </tr>
        }
    </tbody>
</table>
